chapters/*/Makefile
chapters/*/*.aux
chapters/*/*.log
defs.tex
q.tex
thesis.aux
thesis.bbl
thesis.blg
thesis.dvi
thesis.lof
thesis.log
thesis.lot
thesis.nlo
thesis.out
thesis.toc
thesis.brf
thesis.ilg
thesis.nls
thesis.pdf
thesis.glo
thesis.glg
thesis.gls
thesis.ist
thesis.bcf
thesis.glsdefs
thesis.idx
thesis.ind
thesis.run.xml
thesis.synctex.gz
thesis.ps
cover.*
s
.force_rebuild
*.bbl
*.blg
*.tgz
VERSION
