chapters/*/Makefile
chapters/abstract/abstract.aux
chapters/conclusion/conclusion.aux
chapters/curriculum/curriculum.aux
chapters/introduction/introduction.aux
chapters/myappendix/myappendix.aux
chapters/preface/preface.aux
defs.tex
q.tex
thesis.aux
thesis.bbl
thesis.blg
thesis.dvi
thesis.lof
thesis.log
thesis.lot
thesis.nlo
thesis.out
thesis.toc
thesis.brf
thesis.ilg
thesis.nls
thesis.pdf
thesis.ps
